
/* acts as default styling element */
* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(107, 15, 236)
}

/* header styling below */
/* when using padding 20px = (top, right, bottom, and left) */
/* 20px 35px = (20px top and bottom & 35px left and right) */
/* padding can also be explicit */
header {
    padding: 20px 35px;
    background-color: gold;
}

/* padding refers to spacing inside the box */
/* Border refers to the outside edge of the padding within the margin */
/* Margin refers to the outermost layer of the box */

header h1 {
    font-weight: bold;
    font-size: 40px;
    color:rgb(107, 15, 236);
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: rgb(107, 15, 236);
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 24px;
}