
/* acts as default styling element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(107, 15, 236)
}

/* header styling below */
/* when using padding 20px = (top, right, bottom, and left) */
/* 20px 35px = (20px top and bottom & 35px left and right) */
/* padding can also be explicit */
header {
    padding: 20px 35px;
    background-color: gold;
}

/* padding refers to spacing inside the box */
/* Border refers to the outside edge of the padding within the margin */
/* Margin refers to the outermost layer of the box */

header h1 {
    font-weight: bold;
    font-size: 40px;
    color:rgb(107, 15, 236);
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: rgb(107, 15, 236);
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 24px;
}

footer {
    background: gold;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color:rgb(107, 15, 236);
    font-size: 30px;
    margin: 0;
}

footer div {
    float:inline-end;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color:rgb(107, 15, 236);
}

section {
    padding: 60px;
}

.hero {
    background-image: url(../assets/images/hero-bg.jpeg);
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative
}

.hero-form {
    background-color: gold;
    padding: 20px;
    width: 500px;
    color:rgb(107, 15, 236);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(107, 15, 236);
    position: absolute;
    bottom: 120px;
    right: 140px;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}
/* positioning is a CSS proprety that defines where the position of an element is on the page */
/* static positions do not move */
/* relative positions align items top/bottom left/right */
/* Absolute positions removes elements from the natural flow of the page and use top, bottom, left, and right */
/* fixed positions remove elements from natural flow and position them relative to the viewport */

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid black;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: gold;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 10px;
}

.hero-form button {
    color: gold;
    background-color: black;
    border: none;
    padding: 15px 20px;
    font-size: 20px;
}

.intro {
    text-align: center;
}

.intro h2 {
    font-size: 55px;
    color:rgb(107, 15, 236);
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 5px solid;
    border-color: black;
    display: inline-block;
}

.intro p {
    line-height: 2.0;
    color:rgb(107, 15, 236);
    width: 80%;
    font-size: 22px;
    margin: 0 auto;
}